 @{
    ViewData["Title"] = "登录"; 
}

<div class="text-center">
    <div class="panel panel-primary">
        <div class="panel-body"> 
            <p><h3>登录也面展示</h3></p>
        </div> 
    </div>
</div>