
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
</div>

<div class="text-center">
    <h1 class="display-4">Api1 Resource Respose:</h1> 
    <p>@ViewData["content"]</p>
</div>
