@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a class="btn btn-success"  asp-controller="Account" asp-action="Logout">退出登录</a>