@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>sessionid: @ViewBag.sessionid</p>
    <p>val:@ViewBag.val</p>

    <p>UserName:@ViewBag.UserName</p>
    <p>AuthenticationType:@ViewBag.AuthenticationType</p>
    <p>IsAuthenticated:@ViewBag.IsAuthenticated</p>

    <p>RedisTest About <a href="/RedisTest/Index">RedisTest</a>.</p>

    
</div>
