@{
    ViewData["Title"] = "Redis Test";
}

<div class="text-center">
    <h1 class="display-4">Learning Redis</h1>
     
    <p>ldh:@ViewBag.ldh</p>
    <p>ldh2:@ViewBag.ldh2</p>
    
    
    <p>Id:@ViewBag.Id</p>
 
</div>
