@model WebMVC.Dto.EmployeeDto
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="text-center">
   ID: @Model.Id;
   姓名: @Model.Name;
   BankCardDisplay:@Model.BankCardDisplay;
   MoneryDisplay:@Model.MoneryDisplay;
   other:@Model.other;
</div> 